{% extends "admin/include/layout.twig" %}

{% block title %}
  Dashboard
{% endblock %}

{% block content %}
  <div style="min-height:600px;">
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">SISTEM INFORMASI/TEKNIK INFORMATIKA</h2>
      <span class="hidden-xs">Tesing</span>
    </div>
  </header>
  </div>
{% endblock %}