<div class="col-lg-8" style="margin-left:0;padding-left:0;">
  <div class="card" style="">
    <div style="padding:10px;background-color:#2f333e;color:white;">
      <i class="fa fa-book"></i> Ketersediaan Mengajar Saya
      <button @click.prevent = "getKmSaya"
      class="btn btn-sm pull-right bg-blue"> 
        <i class="fa fa-refresh" :class="{'fa-pulse fa-fw': loading.table}"></i> 
      </button>
      <button @click.prevent = "getKmSaya"
      class="btn btn-sm pull-right bg-blue" style="margin-right:5px;"> 
        <i class="fa fa-arrow-right"></i> 
      </button>
      <button @click.prevent = "getKmSaya"
      class="btn btn-sm pull-right bg-blue" style="margin-right:5px;"> 
        <i class="fa fa-arrow-left"></i> 
      </button>
    </div>
    <div class="card-body" style="position:relative;min-height:400px;">
      <div v-if="loading.table"
      style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.75);
      height:100%;width:100%;display:inline-block;text-align:center;color:white;">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw" style="margin-top:70px;margin-bottom:10px;"></i>
        <span class="sr-only">Loading...</span>
        <div>mengambil data</div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Tahun</th>
            <th>Semester</th>
            <th>Hari</th>
            <th>Waktu mulai</th>
            <th>Waktu akhir</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        
          <tr v-for="(item, index) in kmSaya">
            <th scope="row">${ (index + 1) }</th>
            <td @dblclick.prevent="">
              ${item.tahun_akademik[0].thn_akademik}
            </td>
            <td @dblclick.prevent="item.edited.open.semester = true">
              <div v-if="item.edited.open.semester == false">${item.semester}</div>
              <form v-else class="form-inline">
                <div class="form-group" style="width:100%;">
                  <div class="input-group">
                    <button @click.prevent="kmSayaUpdate('semester', item.edited.temp.semester, item.kd_km, index)" 
                    class="btn btn-sm bg-blue input-group-addon"> 
                      <i class="fa fa-check"></i> 
                    </button>
                    <select v-model="item.edited.temp.semester" 
                    style="padding:3.5px;"
                    class="form-control form-control-sm">
                      <option value="ganjil">Ganjil</option>
                      <option value="genap">Genap</option>
                    </select>
                    <button @click.prevent="item.edited.open.semester = false" 
                    class="btn btn-sm bg-red input-group-addon"> 
                      <i class="fa fa-times"></i> 
                    </button>
                  </div>
                </div>
              </form>
            </td>
            <td>${item.hari}</td>
            <td>${item.waktu_mulai}</td>
            <td>${item.waktu_akhir}</td>
            <td> 
              <button @click.prevent = "kmSayaDelete(item, index)"
              class="btn btn-sm" style="background-color:crimson;color:white;">
                <i class="fa fa-trash"></i>
              </button> 
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>