<div class="col-lg-12" style="margin-bottom:15px;">
  <div class="pull-right">
    <button 
    @click.prevent = "open = 1" 
    class="btn btn-primary"> 
      <i class="fa fa-pencil"></i> Buat 
    </button>
    <button 
    @click.prevent = "open = 0" 
    class="btn btn-primary"> 
      <i class="fa fa-search"></i> Pencarian 
    </button>
  </div>
</div>