<!-- Side Navbar -->
        <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="{{ base_url() }}/resources/assets/img/stikom.png" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">Stikom Binaniaga</h1>
              <p></p>
            </div>
          </div>
          <!-- Sidebar Navidation Menus--><span class="heading">BOGOR</span>
          <ul class="list-unstyled">
            <li class="active"> <a href="{{ path_for('admin-dashboard') }}"><i class="icon-home"></i>Home</a></li>
            <li> <a href="{{ path_for('admin-edit-user') }}"> <i class="icon-grid"></i>Edit User </a></li>
            <li> <a href="ketersedian.php"> <i class="fa fa-bar-chart"></i>Ketersedian Megajar </a></li>
            <li> <a href="lihat_jadwal.php"> <i class="icon-padnote"></i>Lihat Jadwal </a></li>
            
        </nav>